services:
  flask_app:
    container_name: flask_app
    build: .
    ports:
      - "4000:4000"
    env_file:
      - .env
    depends_on:
      flask_db:
        condition: service_healthy
  flask_db:
    container_name: flask_db
    image: postgres
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - pgdata:/var/lib/postgresql
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s
  adminer:
    image: adminer
    ports:
      - "8080:8080"

volumes:
  pgdata: {}