services:
  flask_app:
    container_name: flask_app
    build: .
    ports:
      - "4000:4000"
    env_file:
      - .env
    depends_on:
      - flask_db
  flask_db:
    container_name: flask_db
    image: postgres
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - pgdata:/var/lib/postgresql
  adminer:
    image: adminer
    ports:
      - "8080:8080"

volumes:
  pgdata: {}